<section class="text-gray-600 body-font">
  <!-- Grid -->

  <div class="container px-5 py-10 mx-auto lg:pt-12 lg:px-32">
    <div class="grid grid-cols-4 gap-4" id="lightgallery">
      {% if files is defined and files|length > 0 %}
        {% for item in files %}

        {% if item.filetype == "video/mp4" %}
            <a href="/photo/{{ item.link }}/{{ item.file }}" data-lg-size="1024-800"><video width="320" height="240" controls><source src="/image/{{ item.link }}/{{ item.file }}" type="video/mp4"></video></a>
        {% else %}
            <a href="/photo/{{ item.id }}" data-lg-size="1024-800"><img src="/photo/{{ item.id }}" alt="{{ item.name }}" class="block object-cover object-center w-full h-full rounded-lg" loading="lazy"></a>
        {% endif %}

        {% endfor %}

      {% else %}
        No files to show
      {% endif %}
      </div>
  </div>
</section>
