<section class="text-gray-600 body-font">
  <!-- Grid -->
  <div class="container px-5 py-24 mx-auto grid">
  <ul id="ul-li">
      {% if files is defined and files|length > 0 %}
        {% for item in files %}
        <li data-src="/photo/{{ item.link }}/{{ item.file }}">
        {% if item.filetype == "video/mp4" %}
            <a href="/photo/{{ item.link }}/{{ item.file }}" data-lightbox="set"><video width="320" height="240" controls><source src="/image/{{ item.link }}/{{ item.file }}" type="video/mp4"></video></a>
        {% else %}
            <a href="/photo/{{ item.id }}" data-lightbox="set"><img src="/photo/{{ item.id }}" alt="{{ item.name }}" class="grow" loading="lazy"></a>
        {% endif %}
        </li>
        {% endfor %}

        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
      {% else %}
        No files to show
      {% endif %}
  </ul>
  </div>
</section>
