.media-item {
	background: var(--color-background-semi);
	border: 1px solid transparent;
	width: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
}

.media-item:focus-visible {
	border-color: var(--color-accent);
	box-shadow: 0 0 2px 1px var(--color-accent);
	outline: 0;
}


.media-item img {
	object-fit: cover;
	margin: auto;
	height: calc(var(--item-size) + var(--max-offset));
	width: 100%;
	margin-top: calc(var(--max-offset) * -1);
	transform: translateY(var(--scroll-offset, 0));
}

.media-item.video:not(.loading)::after {
	content: ' ';
	display: block;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	position: absolute;
	background-color: #fff4;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-player-play' width='84' height='84' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 4v16l13 -8z' /%3E%3C/svg%3E%0A");
	backdrop-filter: blur(5px);
	background-size: 60px;
	box-shadow: 0 0 3px 1px #fff;
}

.media-item.loading::after {
	content: ' ';
	display: block;
	position: absolute;
	/* for some reason firefox is freezing with a lot of these... */
	width: 84px;
	height: 84px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E%0A");
}
