header {
	height: var(--header-height);
	margin: 0;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color-background-semi);
	border-bottom: 1px solid var(--color-border);
	color: var(--color-text-dimmed);
	position: sticky;
	top: 0;
	z-index: 10;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

header h1 { font-size: 22px; font-weight: 100; }
header .icon-btn { min-width: 42px; }


@media (max-width: 590px) {
	header h1 { position: absolute; }
}
