:root {
	--color-highlight: #14789f;
	--color-highlight-semi: #14789f33;
	--color-highlight-light: #66d5ff;
	--color-accent: #ffa500;
	--color-preview-background: #111;
	--color-preview-text: #fff;
	--color-info: #666d7b;
	--color-success: #408062;
	--color-danger: #8b4848;
	--animation-speed: 0.3s;

	--max-offset: 60px;
	--item-size: 220px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-border: #000;
		--color-background: #333;
		--color-background-semi: #222c;
		--color-background-alt: #444;
		--color-text: #fff;
		--color-text-dimmed: #ccc;
		--color-warning: #af8a1a;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-border: #aaa;
		--color-background: #eee;
		--color-background-semi: #fffa;
		--color-background-alt: #ccc;
		--color-text: #111;
		--color-text-dimmed: #444;
		--color-warning: #764c00;
	}
}

html { margin: 0; padding: 0; height: 100%; width: 100%; }
body {
	font: 13px sans-serif;
	color: var(--color-text);
	background: var(--color-background);
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 20px;
	min-width: 330px;
}

body * { box-sizing: inherit; }

.flex-spacer { flex: 1; }
