{% extends 'base.jinja2' %}

{% block title %}Error{% endblock %}

{% block body %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex lg:w-3/5 mx-auto p-10 m-10 sm:flex-row flex-col">
      <div class="inline-flex justify-center px-5">
        <div class="flex title-font font-bold text-6xl text-accent lg-mb-4 md:mb-0">
          {{ status_code}}
        </div>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0  px-5 border-l border-gray-200">
        <h2 class="text-gray-900 title-font font-bold lg-text-6xl text-4xl mb-2">{{ error }}</h2>
        <p class="leading-relaxed text-gray-400 text-base">Please check the URL in the address bar and try again.</p>
        <a href="/" class="mt-3 text-accent inline-flex items-center">Go back home
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
