{% extends 'base.jinja2' %}

{% block title %}Index{% endblock %}

{% block body %}

{% if not username %}
  <!-- Login CTA -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Login required</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">There are no public images available, please login or check the link.</p>
      </div>
      <button onclick="location.href='/login'" class="flex mx-auto mt-6 text-white bg-accent border-0 py-2 px-5 focus:outline-none hover:bg-green-800 rounded">Login</button>
    </div>
  </section>

  {% include 'partials/app.jinja2' %}

{% else %}

  <!-- add photos / albums / share -->

  {% include 'index/grid.jinja2' %}

{% endif %}

{% endblock %}
