nav {
	margin: 0;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .icon-btn { margin: 0 20px; }

nav .active {
	scale: 1.2;
	filter: drop-shadow(0 2px 5px var(--color-accent));
}
nav .active svg {
	stroke-width: 1.5px;
}
