nav {
	position: relative;
	height: 100%;
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: space-between;
}

nav .icon-btn { height: 42px; width: 42px; margin: 0 15px; }
nav .active { color: var(--color-text); }
nav .btn-menu { display: none; }

.menu { white-space: nowrap; }

.menu-line {
	position: absolute;
	bottom: 0;
	width: 42px;
	height: 3px;
	background: linear-gradient(var(--color-highlight-light), var(--color-highlight));
	border-radius: 2px;
	transition: transform var(--animation-speed) ease-out;
}
.menu-line.initial { transition: unset; }


@media (max-width: 700px) {
	nav .icon-btn { margin: 0 5px; }
}

@media (max-width: 590px) {
	.menu-line { display: none; }
	nav .btn-menu { display: block; }
	nav .menu { display: none; }
	nav { order: 6; }
}
